<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="Synapse.Server.SynapseServer"
               behaviorConfiguration="SynapseServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/syn/server"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address: http://localhost:8000/syn/server  -->
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Synapse.Server.ISynapseServer"
                  behaviorConfiguration="web" />
        <!-- this endpoint is exposed at: http://localhost:8000/syn/server/ws -->
        <endpoint address="ws"
                  binding="wsHttpBinding"
                  contract="Synapse.Server.ISynapseServer" />
        <!-- this endpoint is exposed at: http://localhost:8000/syn/server/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SynapseServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
